@import 'Consts.module';
.addressBlock{

  border-radius: 25px;

  .addressInnerCard{
    min-height: 125px;
    margin-top: 15px;
    font:$font;
    text-align: left;
    padding-left: 10%;
    margin-right: 15px;

    &  div{
      max-width: 250px;
      overflow-wrap: break-word;
    }

  }
}
.addressCard{
  &:hover{
    cursor: pointer;
    transition: .3s;
    margin-top: 10px;

  }
  & button{
    @include roundedButton;
    margin-bottom: 10px;
  }
}
.addressListBlock{
  background-color: white;
  margin-top: 10px;
  .titleCount{
    font:$font;
    text-align: center;
    font-size: 15pt;
    padding-top: 10px;
  }
  .addressList{
    display: grid;

    p{
      text-align: center;
      font:$font;
      grid-column: 2;
    }
  }

}
@media screen and (max-width: 1150px) {
  .addressList{
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (min-width: 1150px) {
  .addressList{
    grid-template-columns: repeat(3,1fr);
  }
}