$font: 1.2em "Courier",Times, serif;
$headerColor:#F345A4;
$headerLiHoverColor: #f560ae;
$secondColor:#1A5ED5;
$lightGray: #ffffff;

@mixin roundedButton{
  padding-inline: 10px;
  margin-right: 5px;
  background-color: transparent;
  border-radius: 15px;
  border:1px solid black;
  font-size: 13pt;
  &:hover{
    cursor: pointer;
    background-color: whitesmoke;
  }

}

.content{
  min-height: 800px;
}
@mixin linkMix(){
  &>a {
    text-decoration: none;
    color: black;
    padding-inline: 10px;
    &:active {
      text-decoration: red;
    }
  }
}
@keyframes hide {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
  }
  100% {
    display: none;

  }
}
@keyframes visible {
  0% {
    display: none;

  }
  99% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}