@import 'Consts.module';

.header{
  height: 75px;
  background-color: $headerColor;
  top:0;
  left: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 10px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
    margin-left: 5%;
    font:$font;
    font-size: 25pt;
    @include linkMix;
  }

  .list{
    list-style: none;
    display: flex;
    .userEmailBlock{
      .arrow{
        margin-left: 10px;

      }

    }
    .innerList{
      position: absolute;
      background-color: $headerColor;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
      list-style: none;
      top:100%;
      li {
        min-width:170px;
        float:none;
        display:list-item;
        position: relative;
        div{
          @include linkMix;
        }
      }
    }


    li{

      font:$font;
      font-size: 16pt;
      font-weight: bold;
      min-width: 115px;
      @include linkMix;
      & > a{
        border-radius: 5px;
        padding: 25px;
      }
      & > a:hover{
        background-color: $headerLiHoverColor;
      }

    }
    .userFunc{
      display: flex;
      & > div{
        @include linkMix;
        a{
          border-radius: 5px;
          padding: 25px;
        }
        a:hover{
          background-color: $headerLiHoverColor;
        }
      }


    }
  }
}
.visibleList{
  transition: 0.3s;
  transform:translateY(0%);
  opacity: 1;
}
.hiddenList{
  transform:translateY(-350%);
  opacity: 0;
}