@import "Consts";
$img-size:200px;
@mixin pointer(){
  cursor: pointer;
}
@mixin frontBackCard(){
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .4s linear;
}

.image{
  width: $img-size;
  height: $img-size;
  margin-left: $img-size/3;
}
.description{
  font-size: 12pt;
  border-radius: 25px;
  padding: 5px;
  background-color: #eeeaea;
  width: 300px;
  margin-bottom: 50px;
  
}
.titleBlock{
  font-size: 16pt;
  margin: 5px;
  height: 70px;
}
.priceBlock{
  margin-top: 10px;
  font-size: 15pt;
  display: flex;
  justify-content: space-between;

}
.addToCartButton {
  width: 100%;
  margin-top: 5px;
  border-radius: 25px;
  border:0.1em solid black;
  height: 30px;
  background-color: $secondColor;
  color:white;
  font-size: 15pt;
  &:hover{
    font-size: 14pt;
    transition: 1s;
    @include pointer
  }
}
.descriptionLink{
  font-size: 20pt;
  font-weight: bold;

}


.center{
  height: $img-size;
  .front{
    @include frontBackCard;
    transform: perspective(600px) rotateY(0deg);
  }
  .back{
    @include frontBackCard;
    transform: perspective(600px) rotateY(180deg);

    .back-content{
      text-align: center;
      color: #333333;
    }
  }
}
.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}