@import "Consts.module";
$img-size:150px;
@mixin pointer(){
  cursor: pointer;
}
@mixin frontBackCard(){
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .4s linear;
}
.card{
  padding: 5px;
  width: 300px;
}
.productBlock{
  margin: 20px;
  background-color: white;
  &:hover{
    cursor: pointer;
  }
}
.image{
  width: $img-size;
  height: $img-size;
  margin-left: $img-size/3;
}
.description{
  font-size: 12pt;
  border-radius: 25px;
  padding: 5px;
  background-color: #eeeaea;
  width: 250px;
  margin-bottom: 30px;

}
.titleBlock{
  font-size: 14pt;
  margin: 15px 0px;
  min-height: 70px;

}
.priceBlock{
  margin-top: 10px;
  font-size: 15pt;
  display: flex;
  justify-content: space-between;

}
.addToCartButton {
  width: 90%;
  margin-top: -10px;
  border-radius: 25px;
  border:0.1em solid black;
  height: 30px;
  background-color: $secondColor;
  color:white;
  font-size: 15pt;
  &:hover{
    font-size: 14pt;
    transition: 1s;
    @include pointer
  }
}
.descriptionLink{
  font-size: 20pt;
  font-weight: bold;

}


.center{
  height: $img-size+50px;
  .front{
    @include frontBackCard;
    transform: perspective(600px) rotateY(0deg);
  }
  .back{
    @include frontBackCard;
    transform: perspective(600px) rotateY(180deg);

    .back-content{
      text-align: center;
      color: #333333;
    }
  }
}

.card{

  &:hover{
    & > .front{
      transform: perspective(600px) rotateY(-180deg);
    }
    & > .back{
      transform: perspective(600px) rotateY(0deg);
    }
  }
}