@import "Consts.module";


@mixin ohHover{
  &:hover{
    transition: 0.3s;
    background-color: #eeeaea;
    cursor: pointer;
  }
}

.cartButton {
  border-radius: 25px;
  @include linkMix;
  &>a{
    padding: 25px;
  }
  & >a:hover {
    background-color: $headerLiHoverColor;
    cursor: pointer;
  }

}
.cart{


  position: absolute;
  top: 100%;
  list-style: none;
  margin-left: -50px;
  background-color: white;
  border:1px solid black;
  border-radius: 10px;
  padding: 5px;
  min-width: 400px;

  -webkit-box-shadow: 0px 0px 10px 11px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 11px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 11px rgba(34, 60, 80, 0.2);
  button{
    font:$font;
  }

  .items{
    overflow-y: auto;
    max-height: 300px;
    min-width: 300px;
    padding: 10px;

    -webkit-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2) inset;
    .item{
      background-color: white;
      max-width: 500px;
      min-width: 400px;
      border: 1px solid gainsboro;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 5px;
      .details{
        display: flex;
        justify-content: space-between;

        .removeItemButton{
          height: 30px;
          background-color: transparent;
          border:1px solid black;
          border-radius: 5px;
          font-size: 13pt;
          @include ohHover;
        }
        img{
          width: 100px;
          height: 100px;
        }
        header{
          text-align: center;
          padding-inline: 20px;

        }
      }

    }
  }

  header{
    display: flex;
    min-height: 30px;
    .titleLink{
      margin-left: 23%;
      border:1px solid black;
      padding: 5px;
      border-radius: 15px;
      margin-bottom: 5px;
      text-decoration: none;
      color:black;
      @include ohHover;
    }
    .closeCartButton{
      text-align: right;
      background-color: transparent;
      border:0;
      font:$font;
      font-weight: bold;
      font-size: 30pt;
      position: absolute;
      right: 0;
      top:0;
      &:hover{
        transition: .2s;
        font-size: 29pt;
        cursor: pointer;
      }
    }
    .divCenterTitle{
      margin-top: 8px;
    }
    .clearCartButton{
      position: absolute;
      right: 0;
      bottom: 5px;
      @include roundedButton;
      @include ohHover;
    }
  }

}

.visible{

  transition: 1s;
  opacity: 1;
  transform: translateX(-30%);
}
.hidden{

  transform: translateX(150%);
  transition: 1s;
  opacity: 0;
}