@import 'Consts.module';
@media (min-width: 1260px){
  .button{
    display: none;
  }
}

.active{
  transform:translateX(-5%);
  transition:2s;
}
.hidden{
  transform:translateX(-103.5%);
  transition:2s;
}
.button{
  position: fixed;
  top:150px;
  background-color: $lightGray;
  height: 25px;
  width: 50px;
  transform: translateX(489%);
  border-color:black;
  border-width: 1px;
  border-style: solid;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-left:0;
  &:hover{
    cursor: pointer;
  }
  .buttonContent{
    margin-top: 5%;
    font-weight: bold;
    margin-right: 10%;
  }
}
.toolBar{
  text-align: center;
  top:75px;
  width: 250px;
  position: fixed;
  height: 1080px;
  background-color: $lightGray;
  font:$font;
  font-size: 13pt;
  border-right:1px solid black;
  .title{
    margin-top: 15%;
    font-weight: bold;
    font-size: 16pt;
  }
  .innerBar{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>div{
      margin-top: 20px;
    }
  }
  .clearButton{
    padding: 5px;
    margin:5px;
    font:$font;
    background-color: transparent;
    border:1px solid black;
    border-radius: 5px;
    &:hover{
      cursor: pointer;
      background-color: rgba(239, 0, 0, 0.51);
      transition: 1s;
    }
  }
}

