@import "Consts.module";


.dataContainer{
  display: flex;
}

.block{
  padding: 25px;
  background: white;
  button{
    margin: 15px;
    margin-left: 40%;
    @include roundedButton;
    padding: 10px;
    &:hover{
      cursor: pointer;
      background: whitesmoke;
    }
  }
}
.detail{
  margin-inline-start: 10px;
  font:$font;
}
.img{
  width: 50px;
  height: 50px;
}